<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- 헤더 -->
    <header>
        <!-- 메인 메뉴 -->
        <div class="menu">
            <nav>
                <ul class="pc">
                    <li><a href="/board/list">게시글 목록</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- 메인 -->
    <section class="main container">
        <div class="inner">
            <!-- 제목 영역 -->
            <div class="main-title">
                <h1>게시글 수정</h1>
                <p>커뮤니티 게시글 정보를 수정합니다.<p>
            </div>

            <!-- 게시글 수정 -->
            <form action="http://localhost:8080/api/board" method="post">
                <table class="board">
                    <tr>
                        <td class="label">제목</td>
                        <td class="data">
                            <input type="text" name="title" id="title" class="input-text">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">작성자</td>
                        <td class="data">
                            <input type="text" name="writer" id="writer" class="input-text">
                        </td>
                    </tr>
                    <tr>
                        <td class="label">내용</td>
                        <td class="data">
                            <textarea name="content" id="content" cols="30" rows="10" 
                                    class="input-textarea"></textarea>
                        </td>
                    </tr>
                </table>

                <div class="btn-box">
                    <div class="item">
                        <a href="/board/list" class="btn">목록</a>
                    </div>
                    <div class="item">
                        <a href="javascript:;" class="btn btn-update">수정</a>
                        <a href="javascript:;" class="btn btn-delete">삭제</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/main.js"></script>

    <script>

        // 현재 URL 가져오기
        const urlParams = new URLSearchParams(location.search)
        // ?boardNo=100   (100 <-- 글번호 가져오기)
        let boardNo = urlParams.get('boardNo')
        
        if( boardNo != null ) {
            getBoard()
        }

        // 게시글 조회
        function getBoard(){
            const url = 'http://localhost:8080/api/board?boardNo=' + boardNo
            
            $.ajax({
                url     : url,
                type    : 'GET',
                success : function(response) {
                    let board = response

                    $('#title').val(board.title)
                    $('#writer').val(board.writer)
                    $('#content').val(board.content)
                },
                error   : function(error) {

                }

            })
        }

        // 수정 버튼 - 클릭 이벤트
        $('.btn-update').on('click', function() {

            // 게시글 수정 요청
            let url = 'http://localhost:8080/api/board'


            let formData = new FormData()       // 폼 데이터 객체

            let title = $('#title').val()
            let writer = $('#writer').val()
            let content = $('#content').val()

            let data = {
                boardNo : boardNo,
                title : title,
                writer : writer,
                content : content
            }

            $.ajax({
                url             :   url,
                type            :   'PUT',
                data            :   data,
                success         : function(response, status) {
                    if( response == 'SUCCESS' ){
                        alert('수정이 완료되었습니다.')
                        location.href = '/board/read?boardNo=' + boardNo

                    }
                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        })

        // 삭제 버튼 - 클릭 이벤트
        $('.btn-delete').on('click', function() {


            let check = confirm('정말로 삭제하시겠습니까?')
            
            if( !check ) 
                return
            deleteData(boardNo)
        })


        function deleteData() {
            let url = 'http://localhost:8080/api/board'

            let data = {
                'boardNo' : boardNo
            }

            $.ajax({
                url             :   url,
                type            :   'DELETE',
                data            :   data,
                dataType        :   'text',                 // 응답 컨텐츠 타입
                success         : function(response, status) {
                    if( response == 'SUCCESS' ){
                        alert('삭제가 완료되었습니다.')
                        location.href = '/board/list'
                    }
                },
                error           : function(request, status, error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }


        // 파일 목록 조회
        function getFileList() {

            const url = 'http://localhost:8080/api/board/file?boardNo=' + boardNo

            $.ajax({
                url : url,
                type : 'get',
                success : function(response) {
                    let fileList = response
                    console.log(fileList)

                    let fileListData = ''
                    let fileUrl = 'http://localhost:8080/api/file'
                    for (let i = 0; i < fileList.length; i++) {
                        let fileNo = fileList[i].fileNo
                        let fileName = fileList[i].fileName     // UID_강아지.png
                        let originName = fileList[i].originName // 원본파일명
                        let filePath = fileList[i].filePath

                        let li = `<li>
                                    <p>
                                        <img src="${fileUrl}/img?fileNo=${fileNo}" style="width:240px" />
                                    </p>
                                    <span>${originName}</span>
                                    <a href="${fileUrl}/${fileNo}">[다운로드]</a>
                                    <a href="javascript:;" onclick="deleteFile(this)" data="${fileNo}">[삭제]</a>
                                </li>  
                                `
                        fileListData += li
                    }

                    $('#file-list').html(fileListData)

                },
                error : function(error) {

                }
            })
        }        


        // 파일 삭제 
        function deleteFile(e) {

            // [확인] -> true -> 삭제
            // [취소] -> false -> 삭제 안 함
            let check = confirm('정말로 삭제하시겠습니까?')
            if( !check ) {
                return
            }

            let fileNo = $(e).attr('data')

            // 삭제 요청
            const url = 'http://localhost:8080/api/file'

            let data = {
                fileNo : fileNo
            }

            $.ajax({
                url : url,
                type : 'DELETE',
                data : data,
                success : function(response) {

                    if( response == 'SUCCESS' ) {
                        getFileList()       // 파일 목록 갱신
                    }
                    
                },
                error : function(error) {

                }
            })

        }


    </script>

</body>
</html>